{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <style>
        .content {
            display: flex; /* Utilisation de Flexbox pour aligner les éléments horizontalement */
            justify-content: center; /* Centrer les éléments horizontalement */
            align-items: center; /* Centrer les éléments verticalement */
            flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur plusieurs lignes si nécessaire */
            height: 89vh; /* Utiliser toute la hauteur de la page */
            padding: 20px;
            box-sizing: border-box;
            background: url('{{ asset('image/velo-cyclisme-cyclistes.webp') }}') center center no-repeat; /* L'image en fond */
            background-size: cover; /* L'image prend toute la taille du conteneur */
        }

        .container {
            margin: 40px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 900px;
        }
        .titre{
            color: #007bff;            /* Couleur bleue */
            text-align: center;        /* Centrer le texte */
            font-weight: bold;         /* Mettre le texte en gras */
            font-size: 36px;
            font-family:'Poppins'

        }
        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="email"], input[type="date"], input[type="number"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }


        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        /* Pour séparer les champs en deux colonnes */
        .form-row {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .form-row .form-group {
            flex: 1;
        }

        .form-row .form-group:nth-child(2) {
            margin-left: 20px; /* Ajoute un peu d'espace entre les deux colonnes */
        }
        form .ville-input {
            width: 48%; /* Réduire la largeur de l'input ville */
        }

    </style>

    <div class="content">
        <div class="container">
            <h1 class="titre"> Modifier le profil : </h1>

            {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(UserType, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

            <div class="form-row">
                <div class="form-group">
                    {{ form_row(UserType.email, {
                        'attr': {'class': 'form-control'},
                        'label': 'Email'
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserType.adresse, {
                        'attr': {'class': 'form-control'},
                        'label': 'Adresse'
                    }) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_row(UserType.nom, {
                        'attr': {'class': 'form-control'},
                        'label': 'Nom'
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserType.ville, {
                        'attr': {'class': 'form-control '},
                        'label': 'Ville'
                    }) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_row(UserType.prenom, {
                        'attr': {'class': 'form-control'},
                        'label': 'Prénom'
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserType.codePostal, {
                        'attr': {'class': 'form-control'},
                        'label': 'Code Postal'
                    }) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_row(UserType.date_naissance, {
                        'attr': {'class': 'form-control ville-input'},
                        'label': 'Date de Naissance'
                    }) }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(UserType) }}

        </div>
    </div>
{% endblock %}
